In [1]:
## Printing the value 

a = "Hello"
print(a)

Hello

In [2]:
a = "Hello, World!"
print(a[1]) 
b = "Hello, World!"
## Printing the substring starting from index 2 up to index 4 of the string 'b', which is "llo".

print(b[2:5])

e
llo

In [3]:
a = "Hello, World!"
print(len(a))
#print upper case values
print(a.upper())
#print upper case values
print(a.lower())
# Printing the string 'a' with all occurrences of "H" replaced by "J".
print(a.replace("H", "J"))

13
HELLO, WORLD!
hello, world!
Jello, World!

In [4]:
a = "HELLO"
b= "World"
# Concatenating the strings 'a', a space char, and 'b', and assigning the result to the variable 'c'.
c= a + " " + b 
print(c)

HELLO World

In [5]:
a = "Rohit Adike"
# Iterating over each character in the string 'a' and printing each character.
for ch in a:
    print(ch)

R
o
h
i
t

A
d
i
k
e

In [6]:
quote = " Roses are not lillies"
quote[:]

' Roses are not lillies'

In [7]:
# Check if the substring f1 is present in the string quote

f1 = "Rose"
f2 = "lillies"
f1 in quote

True

In [8]:
f1 not in f2 
# Check if f1 is not a substring of f2

True

In [9]:
# Check if all characters in quote are lowercase
quote.islower()

False

In [10]:
# Splitting the string using whitespace as the separator
myString="1 2 3 4 5"
print(myString.split())

['1', '2', '3', '4', '5']

In [14]:
# Splitting the string using '/' as the separator
myString="1/2/3/4/5"
print(myString.split('/'))

['1', '2', '3', '4', '5']